# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-cache/
*.egg-info/
dist/
build/

# Node / React
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
# build/ is already listed under Python
# dist/ is already listed under Python

# Environment variables
.env
.env.local
.env.*.local

# IDEs
.idea/
.vscode/

# OS-specific
.DS_Store 